{% if challenge.boolean_challenge %}
	{% include "quiz/boolean_challenge.html" with challenge=challenge.boolean_challenge %}
{% elif challenge.numeric_challenge %}
	{% include "quiz/numeric_challenge.html" with challenge=challenge.numeric_challenge %}
{% else %}
	<div class="errormessage">
		Unknown kind of challenge ({{ challenge.challenge_type }}).
	</div>
{% endif %}

{% if show_response_answer %}
<div>
	Your confidence: {{ show_response_answer.confidence_percent }}%
</div>

<div>
	Status:

	{% if show_response_answer.correct %}
		Correct
	{% else %}
		Incorrect
	{% endif %}
</div>
{% endif %}
