<div class="question">
	{% block question %}
	{% endblock %}

</div>

{% if show_answer %}
<div class="correct-answer">
	Correct answer:

	{% block correctanswer %}
	{% endblock %}
</div>
{% endif %}

{% if show_response_answer %}
<div class="user-answer">
	Your answer:

	{% block useranswer %}
	{% endblock %}

	{% if show_response_answer %}
		{% if show_response_answer.correct %}
		<span class="tag is-success">Correct</span>
		{% else %}
		<span class="tag is-danger">Incorrect</span>
		{% endif %}
	{% endif %}
</div>
{% endif %}

{% if show_form %}
<div class="user-answer">
	{% block answerform %}
	{% endblock %}
</div>
{% endif %}
