{% extends "base.html" %}

{% block content %}

<div class="block card">
	<div class="card-header">
		<p class="card-header-title">
		Question
		</p>
	</div>
	<div class="card-content">
		{% include "quiz/challenge_core.html" with challenge=challenge show_form=True %}
	</div>
</div>

{% if last_response %}
<div class="block card">
	<div class="card-header">
		<p class="card-header-title">
		Last answer
		</p>
	</div>
	<div class="card-content">
	{% include "quiz/challenge_core.html" with challenge=last_response.challenge show_answer=True show_response_answer=last_response %}
	</div>
</div>
{% endif %}

{% if last_summary %}
<div class="block card">
	<div class="card-header">
		<p class="card-header-title">
		Performance on last batch
		</p>
	</div>

	<div class="card-content">
		{% include "quiz/summary.html" with summary=last_summary %}
	</div>
</div>
{% endif %}

{% endblock %}

