{% load numberformat %}

<div class="columns is-vcentered">
<div class="column is-three-quarters">

{% with challenge_uid=challenge.uid %}

{% if challenge.boolean_challenge %}
	{% include "quiz/boolean_challenge.html" with challenge=challenge.boolean_challenge fact=challenge.fact %}
{% elif challenge.numeric_challenge %}
	{% include "quiz/numeric_challenge.html" with challenge=challenge.numeric_challenge fact=challenge.fact %}
{% else %}
	<div class="errormessage">
		Unknown kind of challenge ({{ challenge.challenge_type }}).
	</div>
{% endif %}

{% endwith %}

</div>
<div class="column is-one-quarter">

{% if show_answer %}
	<a href="{% url 'quiz:web-report-answer' challenge.uid %}" class="button is-small is-danger is-rounded">
	Bad question?
	</a>
{% else %}
	<a href="{% url 'quiz:web-report-question' challenge.uid %}" class="button is-small is-danger is-rounded">
	Bad question?
	</a>
{% endif %}

</div>
</div>
