{% extends "base.html" %}

{% block content %}

	{% if last_response %}
	{% with resp=last_response chal=last_response.challenge %}

	<div class="feedback">
	{% include "quiz/challenge_core.html" with challenge=chal show_answer=True %}

	<div>
		Your confidence: {{ resp.confidence_percent }}%
	</div>

	<div>
		Status:

		{% if resp.correct %}
			Correct
		{% else %}
			Incorrect
		{% endif %}
	</div>

	{% endwith %}
	{% endif %}

	<div class="challenge">
	<h1>Question</h1>

	{% include "quiz/challenge_core.html" with challenge=challenge %}

	<form method="post">
	    {% csrf_token %}

	    <input type="hidden" name="challenge_uid" value="{{ challenge.uid }}">

	    <table>
		    {{ form.as_table }}
	    </table>

	    <input type="submit" value="Submit answer">
	</form>

	</div>
{% endblock %}

