<div class="panel">
	<p class="panel-heading is-primary">
	  {{ header }}
	</p>
	
	<div class="panel-block">

	{% if stats.number_of_answers %}
	<table class="table">
		<tr>
			<td>Questions answered
			<td>{{ stats.number_of_answers }}
		<tr>
			<td>Correct answers
			<td>{{ stats.number_of_correct_answers }}
		<tr>
			<td>Expected correct answers
			<td>{{ stats.expected_correct_answers }}

		{% if stats.plausibility %}
		{% with p=stats.plausibility k=stats.number_of_correct_answers %}
		<tr>
			<td>P(correct &lt; {{ k }} | calibrated)
			<td>{{ p.prob_fewer }}

		<tr>
			<td>P(correct = {{ k }} | calibrated)
			<td>{{ p.prob_same }}

		<tr>
			<td>P(correct &gt; {{ k }} | calibrated)
			<td>{{ p.prob_more }}
		{% endwith %}
		{% endif %}
	</table>
	{% else %}
	No data.
	{% endif %}

	</div>
</div>
