{% extends "quiz/challenge_base.html" %}
{% load numberformat %}

{% block question %}
	{{ challenge.fact.question_text }}
{% endblock %}

{% if show_response_answer %}
{% block useranswer %}
	{% with low=show_response_answer.numeric_response.ci_low high=show_response_answer.numeric_response.ci_high %}
		{% if low == high %}
			exactly {% format_number low %}
		{% else %}
			{% format_number low %}
			to
			{% format_number high %}
			({% format_percent show_response_answer.confidence_percent %} CI)
		{% endif %}
	{% endwith %}
{% endblock %}
{% endif %}

{% if show_answer %}
{% block correctanswer %}
	{% format_number challenge.fact.correct_answer %}
{% endblock %}
{% endif %}
