{% extends "quiz/challenge_base.html" %}

{% block question %}
	{{ challenge.fact.question_text }}
{% endblock %}

{% if show_response_answer %}
{% block useranswer %}
	{% with low=show_response_answer.numeric_response.ci_low high=show_response_answer.numeric_response.ci_high %}
		{% if low == high %}
			exactly {{ low }}
		{% else %}
			{{ low }} to {{ high }}
			({{ show_response_answer.confidence_percent }}% CI)
		{% endif %}
	{% endwith %}
{% endblock %}
{% endif %}

{% if show_answer %}
{% block correctanswer %}
	{{ challenge.fact.correct_answer }}
{% endblock %}
{% endif %}
