{% extends "quiz/challenge_base.html" %}
{% load numberformat %}

{% block question %}
	{{ challenge.fact.question_text }}
{% endblock %}

{% if show_response_answer %}
{% block useranswer %}
	{% with low=show_response_answer.numeric_response.ci_low high=show_response_answer.numeric_response.ci_high %}
		{% if low == high %}
			exactly {% format_number low %}
			({% format_percent show_response_answer.confidence_percent %} confidence)
		{% else %}
			{% format_number low %}
			to
			{% format_number high %}
			({% format_percent show_response_answer.confidence_percent %} CI)
		{% endif %}
	{% endwith %}
{% endblock %}
{% endif %}

{% if show_answer %}
{% block correctanswer %}
	{% format_number challenge.fact.correct_answer %}
{% endblock %}
{% endif %}

{% if show_form %}
{% block answerform %}
	<form method="post">
	    {% csrf_token %}

	    <input type="hidden" name="challenge_uid" value="{{ challenge_uid }}">

	    {{ form.non_field_errors }}

		<div class="field is-horizontal">
			{{ form.ci_low.errors }}

			<label class="field-label">Low (5th percentile)</label>
			<div class="control">
				{{ form.ci_low }}

				{% if challenge.fact.correct_answer_unit != 'none' %}
					{{ challenge.fact.correct_answer_unit }}
				{% endif %}
			</div>
		</div>
		<div class="field is-horizontal">
			{{ form.ci_high.errors }}

			<label class="field-label">Low (95th percentile)</label>
			<div class="control">
				{{ form.ci_high }}

				{% if challenge.fact.correct_answer_unit != 'none' %}
					{{ challenge.fact.correct_answer_unit }}
				{% endif %}
			</div>
		</div>

	    <div class="buttons">
	    <input type="submit" value="Submit answer" class="button is-primary" name="submit">
	    <input type="submit" value="Skip" class="button is-warning" name="skip">
	    </div>
	</form>
{% endblock %}
{% endif %}
