{% load numberformat %}

<p>
	In the last completed batch, you had
	{{ summary.actual_correct }}/{{ summary.batch_size }} correct answers.
	Based on your confidence,
	{{ summary.expected_correct }} correct answers were expected.
</p>

{% if summary.probability_fewer_correct > 0.75 %}
<div class="notification is-warning">
	<p>
		<b>You were probably underconfident.</b>
	</p>

	<p>
		If your confidence estimates were accurate, there would be a
		{% format_probability_as_percent summary.probability_fewer_correct %}
		chance of getting fewer than {{ summary.actual_correct }} correct answers.
	</p>

	<p>
		Narrow your confidence intervals and increase your confidence in
		your predictions.
	</p>
</div>
{% elif summary.probability_more_correct > 0.75 %}
<div class="notification is-warning">
	<p>
		<b>You were probably overconfident.</b>
	</p>

	<p>
		If your confidence estimates were accurate, there would be a
		{% format_probability_as_percent summary.probability_more_correct %}
		chance of getting more than {{ summary.actual_correct }} correct answers.
	</p>

	<p>
		Broaden your confidence intervals and decrease your confidence in your predictions.
	</p>
</div>
{% endif %}

<div class="columns is-vcentered">
	<div class="column is-one-quarter">
		Next batch
	</div>

	<div class="column is-three-quarters">
		<progress class="progress is-info"
			  value="{{ summary_progress.progress }}"
			  max="{{ summary_progress.batch_size }}"
			  >
		{{ summary_progress.progress }}/{{ summary_progress.batch_size }}
		</progress>
	</div>
</div>


</div>
