<p>Last batch of {{ summary.batch_size }} answers
(next batch: {{ summary_progress.progress }}/{{ summary_progress.batch_size }}):

{{ summary.actual_correct }} correct answers;
{{ summary.expected_correct }} expected correct answers.
</p>

<p>
Assuming correct calibration: 

<ul>

<li>
P={{ summary.probability_fewer_correct }} of fewer correct
answers. A high probability indicates you have too many
correct answers, and should use narrower confidence
intervals or higher confidences when you answer.

<li>
P={{ summary.probability_more_correct }} of more correct
answers. A high probability indicates you have too
few correct answers, and should use broader confidence
intervals or lower confidence when you answer.

</ul>

</p>
