<!DOCTYPE html>
<html lang="en">
<head>
    <title>Brator{% block titlesuffix %}{% endblock %}</title>
</head>

<body>
    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <div class="navlinks">
	<p>
		<a href="{% url 'quiz:web-quiz' %}">Quiz</a>
	</p>

	<p>
		<a href="{% url 'quiz:web-eval' %}">Evaluation</a>
	</p>

	{% if user %}
		{% if user.is_authenticated %}
			<a href="{% url 'users:logout' %}">Logout</a>
		{% else %}
			<a href="{% url 'users:login' %}">Logout</a>
		{% endif %}
	{% endif %}
    </div>
</body>
</html>

